# remove .html from pages
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# remove index.html from home page
RewriteCond %{THE_REQUEST} /index.html HTTP [NC]
RewriteRule (.*)index.html$ /$1 [R=301,L]

# redirect http to https
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^(.*)$ https://www.kristen-park.com/$1 [L,R=301]
