@font-face {
    font-family: Bold;
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: Regular;
    src: url(Inter-Light.ttf);
}

@font-face {
    font-family: SemiBold;
    src: url(Inter-SemiBold.ttf);
}


html {
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
    overflow-x: hidden;
}

body {
    margin-top: 60px;
    margin-right: 10%;
    margin-left: 10%;
    font-family: Regular;
    font-size: 12pt;
    color: black;
    line-height: 26px;
}

.bodytext {
    margin-right: 10%;
    margin-left: 10%;
}

h1 {
    font-family: Bold;
    text-align: left;
    font-size: 20pt;
    padding-top: 26px;
    color: #84A98C;
    font-weight: normal;
}

p {
    margin-bottom: 18px;
    margin-top: 0px;
}

a {
    text-decoration: underline;
    text-decoration-color: #84A98C;
    color: #84A98C;
    text-underline-offset: 5px;
    text-decoration-thickness: 1.5px;
}

a:hover {
    text-decoration-color: #abcfb2;
    color: #abcfb2;
}

b {
    font-family: SemiBold;
    font-weight: normal;
}

br {
    display: block;
    margin-bottom: 14px;
}

.box {
    display: block;
}

.navwrapper a {
    display: block;
    text-decoration: none;
    color: black;
}

.nav {
    text-align: right;
    margin-bottom: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.hamburger {
    margin-bottom: 5px;
    margin-top: -4px;
}

.leftnav {
    display: block;
    font-family: Bold;
    font-size: 24pt;
    float: left;
    text-align: left;
}

.rightnav {
    font-family: Bold;
    padding-left: 3px;
    font-size: 13.5pt;
    list-style-type: none;
}

.rightnav ul {
    list-style-type: none;
}

.rightnav li {
    display: inline-block;
}

.rightnav a {
    padding: 5px 12px;
}

.rightnav li a:hover {
    display: inline-block;
    color: #84A98C;
}

.spacer1 {
    margin-top: 35px;
}

.socialsbox {
    display: flex;
    justify-content: center;
    position: static;
}

.social {
    width: 30px;
    padding-right: 2px;
    padding-left: 2px;
}

.spacer {
    margin-top: 100px;
}

.bio-container {
    display: flex;
}

.bio-text {
    flex: 1;
}

.bio-image {
    flex: 1;
}

.photo {
    display: flex;
    justify-content: center;
    position: static;
    width: 65%;
    margin-left: 10px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    margin-top: 100px;
    margin-bottom: 40px;
}


@media only screen and (max-width: 991.98px) {
    .bodytext {
        margin-right: 4%;
        margin-left: 4%;
    }
    body {
        margin-right: 4%;
        margin-left: 4%;
    }
    .leftnav {
        margin-left: 4%;
    }
    .bio-container {
        display: grid;
        grid-template-areas: 
        "bio-text bio-text bio-text"
        "bio-image bio-image bio-image";
    }
    .bio-text {grid-area: bio-text;}
    .bio-image {grid-area: bio-image;}
}

