@font-face {
    font-family: Light;
    src: url(assets/Inter-Light.ttf);
}

@font-face {
    font-family: Regular;
    src: url(assets/Inter-Regular.ttf);
}

@font-face {
    font-family: Medium;
    src: url(assets/Inter-Medium.ttf);
}

@font-face {
    font-family: SemiBold;
    src: url(assets/Inter-SemiBold.ttf);
}

@font-face {
    font-family: Bold;
    src: url(assets/Inter-Bold.ttf);
}


html {
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
    overflow-x: hidden;
}

body {
    font-family: Regular;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 12pt;
    color: black;
    line-height: 24px;
}

h1 {
    font-family: Regular;
    text-align: left;
    font-size: 16pt;
    padding-top: 26px;
    color: black;
}

p {
    margin-bottom: 18px;
    margin-top: 0px;
}

a {
    text-decoration: underline;
    text-decoration-color: #84A98C;
    color: #84A98C;
    text-underline-offset: 5px;
    text-decoration-thickness: 1.5px;
}

a:hover {
    text-decoration-color: #abcfb2;
    color: #abcfb2;
}

b {
    font-family: Medium;
    font-weight: normal;
}

br {
    display: block;
    margin-bottom: 14px;
}

ul {
    padding-left: 1em;
}

.bodytext {
    display: block;
    padding-right: 30px;
}

.box {
    display: block;
}

.navwrapper a {
    display: block;
    text-decoration: none;
    color: black;
}

.nav {
    text-align: right;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.hamburger {
    margin-bottom: 5px;
    margin-top: -4px;
}

.leftnav {
    display: block;
    font-family: Regular;
    font-size: 18pt;
    float: left;
    text-align: left;
}

.rightnav {
    font-family: Regular;
    padding-left: 3px;
    font-size: 13pt;
    list-style-type: none;
}

.rightnav ul {
    list-style-type: none;
}

.rightnav li {
    display: inline-block;
}

.rightnav a {
    padding: 5px 12px;
}

.rightnav li a:hover {
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: black;
}

.spacer1 {
    margin-top: 15px;
}

.spacer {
    margin-top: 100px;
}

.category {
    font-size: 9pt;
    display: inline-block;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: black;
    padding: 0px 10px;
    text-align: center;
    margin-left: 5px;
    margin-top: 5px;
    width: 100;
    height: 27px;
}

.bio-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bio-text {
    float: left;
    width: 70%;
    margin-right: 5%;
}

.bio-image {
    margin-bottom: 18px;
    float: right;
}

.photo {
    display: flex;
    position: static;
    width: 18em;
}

.footer {
    margin-top: 100px;
    margin-bottom: 40px;
}


@media only screen and (max-width: 991.98px) {
    .bodytext {
        margin-right: 3%;
        margin-left: 3%;
        padding-right: 0px;
    }
    body {
        margin-right: 3%;
        margin-left: 3%;
    }
    .leftnav {
        margin-left: 3%;
    }
    .bio-container {
        display: grid;
        grid-template-areas: 
        "bio-text bio-text bio-text"
        "bio-image bio-image bio-image";
    }
    .bio-text {
        grid-area: bio-text;
        width: auto;
        padding-right: 0px;
    }
    .bio-image {
        grid-area: bio-image;
        width: auto;
    }
    .photo {
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }
}

